body {
  font-family: monsterrat, Arial, Helvetica, sans-serif;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Header Header Header"
      "About About About"
      "Features Features Features"
      "More More More"
      "Contact Contact Contact";
  }
  
  .Header { grid-area: header; }
  
  .About { grid-area: About; }
  
  .Features { grid-area: Features; }
  
  .More { grid-area: More; }

  .Contact { grid-area: Contact; }